.learning-container{
    margin: var(--section-margin) auto;
}

.learning-header{
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 1em 0;
}

.learning-title{
    padding: 0;
    margin:0;
}

.learning-date{
    margin: 0;
}

.learning-body{
    text-indent: 2em;
    line-height: 1.5em;
}

.learning-photo-list{
    list-style-type: none;
    width: 100%;
    padding: 0;
}

.learning-photo-item{
    width: 80%;
    margin: 0 auto;
}

.learning-photo{
    width: 100%;
}