<section class="learning-container container" *ngIf="learningArticle">
  <h2 class="learning-title">Learning Article</h2>
  <div class="learning-header">
    <h3 class="learning-title">{{ learningArticle.title }}</h3>
    <p class="learning-date">{{ trimmedDate }}</p>
  </div>
  <p class="learning-body">{{ learningArticle.body }}</p>
  <p class="learning-body" *ngIf="learningArticle.body2">
    {{ learningArticle.body2 }}
  </p>
  <p class="learning-body" *ngIf="learningArticle.body3">
    {{ learningArticle.body3 }}
  </p>
  <div
    class="learning-links-container"
    *ngIf="learningArticle.articles && learningArticle.articles.length"
  >
    <h4>Related Links</h4>
    <ul
      class="learning-links-list"
      *ngFor="let article of learningArticle.articles"
    >
      <li class="learning-list-item">
        <a class="learning-link" href="{{ article.source }}">{{
          article.text || article.source
        }}</a>
      </li>
    </ul>
  </div>
  <div
    class="learning-photo-container"
    *ngIf="learningArticle.photos && learningArticle.photos.length"
  >
    <h4>Related photos</h4>
    <ul
      class="learning-photo-list"
      *ngFor="let photo of learningArticle.photos"
    >
      <li class="learning-photo-item">
        <img
          class="learning-photo"
          [src]="photo.source"
          [alt]="photo.description"
        />
      </li>
    </ul>
  </div>
</section>
