<section class="admin-container container">
  <div class="selection container">
  <button type="button" (click)="toggleEditor('portfolio')">Add Photo</button>
  <button type="button" (click)="toggleEditor('learning')">Add Learning Article</button>
  </div>
  <div *ngIf="showPortfolioForm" id="add-portfolio">
    <form id="portfolio-form" #portfolioForm='ngForm' (ngSubmit)="onSubmit(portfolioForm)">
      <fieldset>
        <legend data-type="portfolio">New Portfolio Item</legend>
        <div class="form-group">
          <label for="title">Title</label>
          <input class="form-control" ngModel type="text" name="title" id="title" required/>
        </div>
        <div class="form-group">
          <label for="date">Date</label>
          <input class="form-control" type="date" name="date" id="date" required/>
        </div>
        <div class="form-group">
          <label for="summary">Summary</label>
          <textarea class="form-control" type="text" name="summary" id="summary" required></textarea>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" type="text" name="description" id="description" required></textarea>
        </div>
        <div class="form-group">
          <label for="camera">Camera</label>
          <select class="form-control" name="camera" id="camera" required>
            <optgroup label="DSLR">
              <option value="Canon EOS 550D">Canon EOS 550D</option>
            </optgroup>
            <optgroup label="Phones">
              <option value="Lumia 1020">Lumia 1020</option>
              <option value="LGV60">LGV60</option>
            </optgroup>
            <optgroup label="Other">
              <option value="GoPro Session 4">GoPro Session 4</option>
            </optgroup>
          </select>
        </div>
        <div class="form-group">
          <label for="lens">Lens</label>
          <select class="form-control" name="lens" id="lens" required>
            <optgroup label="Camera Lens">
              <option value="Canon EFS 55-250mm">Canon EFS 55-250mm</option>
              <option value="Helios 44m-7 58mm">Helios 44m-7 58mm</option>
              <option value="Opteka 500mm">Opteka 500mm</option>
              <option value="Opteka 1000mm">Opteka 1000mm</option>
              <option value="SMC Takumar 135mm">SMC Takumar 135mm</option>
              <option value="SMC Takumar 50mm">SMC Takumar 50mm</option>
            </optgroup>
            <optgroup label="Telescopes">
              <option value="Celestron AstroMaster 114eq">
                Celestron AstroMaster 114eq
              </option>
            </optgroup>
          </select>
        </div>
        <div class="form-group">
          <label for="aperture">Aperture</label>
          <input class="form-control" name="aperture" id="aperture" placeholder="Number Only" required />
        </div>
        <div class="form-group">
          <label for="iso">ISO</label>
          <select class="form-control" name="iso" id="iso">
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="400">400</option>
            <option value="800">800</option>
            <option value="1600">1600</option>
            <option value="3200">3200</option>
            <option value="6400">6400</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exposure">Exposure Time</label>
          <input class="form-control"
            type="number"
            name="exposure"
            id="exposure"
            placeholder="Exposure per shot"
          />
        </div>
        <div class="form-group">
          <label for="theme">Theme</label>
          <select class="form-control" name="theme" id="theme" required>
            <option value="Deep Space Object">Deep Space Object</option>
            <option value="Moon">Moon</option>
            <option value="Planet">Planet</option>
            <option value="Rocket">Rocket</option>
          </select>
        </div>
        <div class="form-group">
          <label for="file_name">File Name <span style="font-size:.5rem; color: red;">* Do not include file extension. Only upload .webp to file manager</span></label>
          <input class="form-control" name="file_name" id="file_name" placeholder="Do not include file extension" required>
        </div>
        <div class="form-group">
          <button type="submit" >Create</button>
        </div>
      </fieldset>
    </form>
  </div>
  <div *ngIf="showLearningForm" id="add-learning-article">
    <form id="learning-form">
      <fieldset>
        <legend data-type="learning">New Learning Article</legend>
        <div class="form-group">
          <label for="learning-title">Title</label>
          <input class="form-control" type="text" name="learning-title" id="learning-title" />
        </div>
        <div class="form-group">
          <label for="learning-date">Date</label>
          <input class="form-control" type="date" name="learning-date" id="learning-date" />
        </div>
        <div class="form-group">
            <label for="learning-summary">Summary</label>
            <textarea class="form-control" name="learning-summary" id="learning-summary"></textarea>
        </div>
        <div class="form-group">
            <label for="learning-body">Body</label>
            <textarea class="form-control" name="learning-body" id="learning-body"></textarea>
        </div>
                <div class="form-group">
          <button type="submit" >Create</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
