.comment-section{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: var(--section-margin);
  border-top: 1px solid var(--text);
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  padding: 2em;
  width: 60%;
  margin: 0 auto;
}

.input-container{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

.form-container{
  width: 10em;
}

.form-control{
    height: 2em;
    border-radius: 16px;
    padding: 0.5em;
    width: 100%;
}

.form-textarea{
    height: 5em;
}

.center{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.comment-preview{
  padding: 2em;
  width: 60%;
  margin: auto;
}

.comment-date{
  font-size: .8em;
  padding: 0;
  margin: 0;
}

.comment-commenter{
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.comment-text{
  padding-bottom: .5em;
  border-bottom: 1px solid var(--text);
}

.comment-container{
  grid-column: 1/3;
}

@media (max-width: 426px){
  .comment-section{
    display: flex;
    flex-direction: column;
  }
}