<form class="form-group" (ngSubmit)="onSubmit()" #commentForm="ngForm">
  <div>
    <h3>Leave a comment</h3>
    {{model | json}}
    <div [hidden]="submitted" class="form-group">
      <label for="commenter">Name</label>
      <input
        type="text"
        class="form-control"
        id="commenter"
        required
        name="commenter"
        [(ngModel)] = 'model.commenter'
        (ngModelChange)="model.commenter = $event"
      />
    </div>

    <textarea
      class="form-control form-textarea"
      id="comment-text"
      required
      name="comment"
      [(ngModel)] = 'model.text'
      (ngModelChange)="model.text = $event"
    ></textarea>
    <button class="btn-primary">Submit</button>
  </div>
</form>
<div class="comment-preview">
  <p class="comment-date">{{ model.date }}</p>
  <p class="comment-commenter">{{ model.commenter }} says:</p>
  <p class="comment-text">{{ model.text }}</p>
</div>
<section
  class="comment-container container"
  *ngIf="comments.length; else elseBlock"
>
  <h3>Comments</h3>
  <ul class="comments-list">
    <li *ngFor="let comment of comments">
      <p class="comment-date">{{ comment.date }}</p>
      <p class="comment-commenter">{{ comment.commenter }} says:</p>
      <p class="comment-text">{{ comment.text }}</p>
    </li>
  </ul>
</section>
<ng-template #elseBlock>
  <h3>Comments</h3>
  <p>No one have commented yet. You could be the first!</p>
</ng-template>
