<section class="about-container container">
  <h2 class="about-title">About</h2>
  <h3 class="about-subtitle">About this site</h3>
  <p class="about-body">
    One thing that I, like many others, struggle with is comparing myself to
    those that are experts in their craft. I see their work and think "They are
    so talented", completely ignoring the hundreds and hundreds of hours of work
    that they've put into their work. This site serves as a reference to myself
    and others by showing my journey into photography. Of course, I want to show
    off my work that I am most proud of, but I also want to provide resources to
    make it easier for others to follow.
  </p>
  <h3 class="about-subtitle">My Journey into Astro (and Rocket) Photography</h3>
  <p class="about-body">
    It all started with a move to Orlando. Being less than an hour away from the
    space coast in the midst of the second space-race, I became very interested
    in watching the launches. I could go outside and see a bright (and I mean
    bright) flame rise from the horizon, turn away from me, and eventually
    disappear as it reached space. I wanted to see more, so I got a pair of
    Celestron 7x50 binoculars. Now I could actually see the rocket on top of the
    flame. Once again, I wanted more.
  </p>
  <div class="about-photo-split-right">
    <p class="about-body">
      I started driving out to see the rockets from the coast. I ended up
      getting an annual pass for the Kennedy Space Center. This has been worth
      its money times over. I was able to see SLS on the pad from mere feet
      away. Then, I watched a Falcon 9 launch from a few miles away. The next
      Falcon 9 launch returned back to the launch site and landed at Cape
      Canaveral, rattling the bleachers with a sonic boom. I was able to enjoy
      these moments, but my friends and family back home were too far. It was at
      this point that I wanted to start photographing the launches.
    </p>
    <div class="about-photo-container">
      <img
        class="about-photo"
        src="../../assets/images/SLS-on-the-pad.jpg"
        alt="SLS on the pad"
      />
      <p class="about-photo-description">SLS taken from just 1600ft away.</p>
    </div>
  </div>
  <p class="about-body">
    It started off quite humble. I had recorded with my phone, but that doesn't
    quite capture the feeling. I have a GoPro Session that I thought could work.
    Using an upside down tripod mount, I attached the GoPro to my binoculars but
    that still wasn't enough. I wanted a real camera to capture these moments.
    After scouring Ebay and every other used marketplace that you can think of,
    I came across a Canon 550D on Facebook. It came with 2 lenses, one of which
    was a 55mm-250mm zoom lens, which I knew I'd need for the distances I was
    dealing with. I had my camera and I was ready to go.
  </p>
  <div class="about-photo-split-left">
    <div class="about-photo-container">
      <img
        class="about-photo"
        src="../../assets/images/first-attempt-blurry.jpg"
        alt="Very blurry photo of moon"
      />
      <p class="about-photo-description">My first attempt at moon photography.</p>
    </div>
    <p class="about-body">
      There were no launches scheduled around this time, so I'd turn my
      attention to another target, the Moon. I knew enough about manual
      photography to be dangerous, so away I went to take some pictures of the
      strawberry moon. They were a shaky disaster. I didn't have a tripod, I
      couldn't hold the camera still to save my life, and the first attempt was
      an overall failure. I read up a little bit on tips for moon photography
      and went back out that night. This time, using my car's roof as a support,
      I was able to get the best photo of the moon that I had ever taken in my
      life.
    </p>
  </div>
  <p class="about-body">
    From there, it snowballed. I purchased a used 500mm Opteka telephoto lens
    for a bargain. Any clear night, I was out taking photos of the moon. Each
    time getting clearer and clearer shots. My first opportunity to photograph a
    Falcon 9 launch went incredibly, though certainly room for improvement. I
    plan on going out as much as possible to continue capturing the launches. Of
    course, my progress in this hobby will be tracked though my photographs
    posted here as well as anything I find useful on the
    <a class="inline-link" href="#/learning">Learning page</a>.
  </p>
</section>
