.hero{
    background: url(../../assets/images/Crescent_moon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    aspect-ratio: 4/2;
    border-radius:16px;
    margin-top: var(--section-margin);
    display: flex;
    justify-content: center;
}

@media (max-width: 769px){
    .hero{
        height: 25rem;
    }
}

.hero-content{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    height: 100%;
    width: 90%;
    padding: 0 10%;
    display: flex;
    justify-content:center;
    align-items:center;
}

.hero-quote{
    text-align: center;
    vertical-align: middle;
}