.port-details-section{
    margin: var(--section-margin) 0;
}

.view-hd-btn{
    cursor: pointer;
    border: none;
    border-radius: 16px;
}

.port-img{
    max-width: 100%;
    border-radius: 16px;
}

.port-table-header{
    text-align: left;
}

.port-table-data{
    text-align: right;
}

@media (max-width: 426px){
    .container{
        margin-top: 1em;
    }
}