<nav>
  <div class="nav-container">
    <h1 class="nav-title">Astro <br/> Amateur</h1>
    <ul class="nav-list">
      <li class="nav-list-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-list-item">
        <a class="nav-link" routerLink="/portfolio">Portfolio</a>
      </li>
      <li class="nav-list-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-list-item">
        <a class="nav-link" routerLink="/learning">Learning</a>
      </li>
    </ul>
  </div>
</nav>
